{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
        <title>TreasureGram</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top text-center">
            <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="TreasureGram" />
            </a>
        </nav>
        <main class="container" role="main">
            <div class="treasure panel panel-default">
                {% for treasure in treasures %}
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ treasure.name }}</h2>
                    </div>
                    <div class="panel-body">
                        <div class="treasure-photo">
                            <!--<img src="{{treasure.img_url}}" height="200" alt='treasure image' />-->
                            <img src="{% static treasure.img_url %}" height="200" alt='treasure image' />
                        </div>
                        <table>
                            <tr>
                                <th>material:</th>
                                <td>{{ treasure.material }}</td>
                            </tr>
                            <tr>
                                <th>value:</th>
                                <td>
                                    {% if treasure.value > 0 %}
                                        {{ treasure.value|floatformat:2 }}
                                    {% else %}
                                        Unknown
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>location:</th>
                                <td>{{ treasure.location }}</td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </main>
    </body>
</html>
